:host {
	position: relative;
	display: flex;
	align-items: center;
}

input {
	border-radius: 2px;
	padding: 10px 20px;
	font-family: Roboto, 'Helvetica Neue Light', 'HelveticaNeue-Light',
		'Helvetica Neue', Calibri, Helvetica, Arial, sans-serif;
	width: 25vw;
	color: #c8c8c8;
	font-size: 14px;
	outline: none;
	box-shadow: none;
	position: relative;
	z-index: 1;
}

:host:not(.mat-focused) input {
	transition: background-color 225ms cubic-bezier(0, 0, 0.2, 1);
}

:host.mat-focusing,
:host.mat-focused {
	input {
		color: #333;
	}
}
