<form class="form-horizontal pt-4 pb-0" [formGroup]="form">
	<div class="form-group row">
		<label class="col-sm-2 control-label">{{
			'CATEGORY_VIEW.CREATE.CATEGORY_NAME' | translate
		}}</label>
		<div class="col-sm-9">
			<input
				type="text"
				class="form-control"
				placeholder="{{
					'CATEGORY_VIEW.CREATE.CATEGORY_NAME' | translate
				}}"
				formControlName="name"
			/>

			<div
				*ngIf="name.invalid && (name.dirty || name.touched)"
				class="alert alert-danger"
			>
				{{
					'CATEGORY_VIEW.CREATE.ENTER_THE_CATEGORY_NAME' | translate
				}}!
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 control-label">{{
			'CATEGORY_VIEW.CREATE.PHOTO' | translate
		}}</label>

		<div class="col-sm-9">
			<e-cu-file-uploader
				[placeholder]="uploaderPlaceholder"
				[name]="name?.value"
				[fileUrl]="image?.value"
				(uploadedImgUrl)="image.setValue($event)"
			></e-cu-file-uploader>

			<div *ngIf="image.invalid" class="alert alert-danger">
				{{ 'CATEGORY_VIEW.CREATE.INVALID_URL' | translate }}!
			</div>
		</div>
	</div>

	<div class="form-group row" [hidden]="image.invalid">
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-9">
			<div class="row preview-img" [hidden]="!showImageMeta">
				<div>
					<img
						#imagePreview
						src="{{ image.value }}"
						alt="Invalid image"
						class="img-rounded"
					/>
				</div>
				<div class="remove-icon text-danger" (click)="deleteImg()">
					<div
						class="ion-md-remove-circle"
						placeholder="Remove image"
						title="{{
							'CATEGORY_VIEW.CREATE.REMOVE_IMAGE' | translate
						}}"
					></div>
				</div>
			</div>
		</div>
	</div>
</form>
