.redirectBtn {
	p {
		margin-bottom: 0;
		text-align: center !important;
	}
	cursor: pointer;
}

.warehouse-name-smt {
	text-align: left !important;
	width: auto;
	font-size: 0.9rem;
	line-height: 1;
}
