::ng-deep .carriers-dropdown {
	.dropdown {
		width: 100%;
	}
}
.preview-img {
	padding-left: 14px;
	padding-right: 16px;
}

.img-rounded {
	// width: 70px;
	max-height: 70px;
}

.removeIcon {
	padding-left: 4px;
	padding-right: 4px;
}
