:host ::ng-deep .modal-footer .btn-primary {
	background-color: #111111 !important;
	border: none !important;
	color: white !important;
	cursor: pointer !important;
}

:host ::ng-deep .modal-footer .btn-primary:hover {
	background-color: #bebebe !important;
	color: #111111 !important;
}
:host ::ng-deep .modal-footer .btn-neutral {
	background-color: #111111;
	color: #ffffff;
}

.seePass {
	border: 0px;
}

#showPass {
	font-size: 25px;
	padding: 0 10px;
}
input[type='number'] {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	padding: 0 8px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
	cursor: pointer;
	width: 14px;
	height: 14px;
	padding: 4px;
	margin-bottom: 3px;
	position: relative;
	right: 4px;
	border-radius: 28px;
}
