<style>
	.about-us-content {
		padding: 10px;
		background-color: #1f212a;
		color: #6a6a6a !important;
		font-size: 16px;
		line-height: 1.625em;
		font-weight: 300;
	}

	.about-us-content h2 {
		color: #ccc !important;
	}

	.about-us-content h3 {
		color: #aaa !important;
	}

	.about-us-content h5 {
		text-align: justify;
		color: #6a6a6a !important;
	}

	.about-us-content .social-links a {
		color: #606060;
		font-size: 48px;
		line-height: 72px;
		margin: 0 30px;
	}
</style>

<div class="about-us-content">

	<h2>Do you think online shopping could be better?</h2>
	<h5>So, you never wait half an hour for your order to be prepared or cooked. And it never again comes broken or cold.
		How about the phrase `out of stock`, it's annoying right?<br /><br />In our app, this will never happen, ever! Here
		is why...</h5>

	<h3>INSTANT</h3>
	<p>
		All already prepared &nbsp; hot.<br />
		Get it delivered from your tap to your door in 5-10 minutes.
	</p>

	<h3>SIMPLE</h3>
	<p>
		Just swipe for something you like, tap `Buy` and your order is on its way. You can pay during or after delivery!
	</p>

	<h3>SAFE &amp; LOVE</h3>

	<p>
		We deliver from local stores and restaurants you already know and love. Only good surprises here!
	</p>

	<div class="social-links">
		<a href="https://www.facebook.com/evercoapp" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a>
		<a href="https://twitter.com/evercoapp" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a>
		<a href="https://plus.google.com/b/113148716026744340472" title="google plus"><i class="fa fa-google-plus"></i></a>
		<a href="https://www.instagram.com/evercoapp" title="instagram"><i class="fa fa-instagram"></i></a>
	</div>

	<footer class="footer-text">
		<p>Copyright © 2016-present, Ever Co. LTD. All Rights Reserved.<br>
		</p>
		<div style="font-size: 80%">EVER® is a registered trademark of Ever Co. LTD.<br>
			All other trademarks © to respective owners. We are in α (alpha). Please be nice!</div>
	</footer>

</div>