@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
	.summary-container {
		display: flex;
		flex: 1;
		background-color: nb-theme(chart-panel-summary-background-color);
		box-shadow: nb-theme(chart-panel-summary-box-shadow);
		justify-content: space-between;
		padding: 1.8rem 4rem 1.2rem;
		margin-bottom: 1rem;
		border: nb-theme(chart-panel-summary-border-width) solid
			nb-theme(chart-panel-summary-border-color);
		border-left: none;
		border-right: none;

		.summary {
			width: 100%;
		}

		small {
			margin-bottom: 0.5rem;
		}

		.col-4 {
			line-height: 1.3rem !important;
		}
	}

	.value {
		font-size: 2rem;
		color: #2a2a2a;
		span div small {
			font-size: 0.5em;
			display: block;
		}
	}

	@include media-breakpoint-down(sm) {
		.value,
		.title {
			font-weight: 500;
		}

		.title {
			font-size: 0.875rem;
		}

		.value {
			font-size: 1.25rem;
		}
	}

	@include media-breakpoint-down(is) {
		.summary-container {
			padding-left: 1.25rem;
			padding-right: 1.25rem;
		}

		.value {
			margin-top: 0.5rem;
		}
	}

	.waiting {
		opacity: 0.2;
	}

	.loading-placeholder {
		padding: 13px 61px;
	}
}
