@import '../../@theme/styles/themes';

$shadow-green: #00977e;

@include nb-install-component() {
	.progress-info {
		color: #2a2a2a;
		margin-top: 2.5rem;

		&:first-child {
			margin-top: 0;
		}
	}

	.title {
		font-family: font-main !important;
		// font-size: 1.125rem !important;
		font-weight: 600 !important;
	}

	.value {
		// font-size: 2.5rem !important;
		font-weight: 300 !important;
		line-height: 2rem !important;
	}

	.description {
		color: #a4abb3;
	}

	::ng-deep nb-progress-bar {
		margin-top: 0.2rem;

		.progress-container {
			height: 0.8rem;
			border-radius: 0;
		}

		.progress-value {
			height: 0.6rem;
			background: nb-theme(progress-bar-background);

			@include nb-for-theme(cosmic) {
				box-shadow: 0 0.2rem $shadow-green;
			}

			@include nb-for-theme(corporate) {
				height: 100%;
			}
		}
	}

	.waiting {
		opacity: 0.2;
	}

	.loading-placeholder {
		padding: 13px 61px;
	}
}
