@import '../../@theme/styles/themes';

$shadow-green: #00977e;

@include nb-install-component() {
	.progress-info {
		color: nb-theme(text-basic-color);
		margin-top: 2.5rem;

		&:first-child {
			margin-top: 0;
		}
	}

	.title {
		font-family: nb-theme(font-secondary);
		font-size: nb-theme(text-heading-6-font-size);
		font-weight: nb-theme(text-heading-1-font-weight);
	}

	.value {
		font-size: 2rem;
		font-weight: nb-theme(text-subtitle-font-weight);
		margin-top: 0.5rem;
	}

	.description {
		color: nb-theme(text-basic-color);
		margin-top: 0.5rem;
	}

	::ng-deep nb-progress-bar {
		margin-top: 0.2rem;

		.progress-container {
			height: 0.8rem;
			border-radius: 0;
		}

		.progress-value {
			height: 0.6rem;
			background: nb-theme(progress-bar-background);

			@include nb-for-theme(cosmic) {
				box-shadow: 0 0.2rem $shadow-green;
			}

			@include nb-for-theme(corporate) {
				height: 100%;
			}
		}
	}

	.waiting {
		opacity: 0.2;
	}

	.loading-placeholder {
		padding: 13px 61px;
	}
}
