.setup-merchant-delivery-takeaway {
	nb-card-body {
		text-align: left;
	}

	.actions {
		button {
			width: 100%;
			margin: 0;
		}
	}

	ea-merchants-setup-add-new-carrier {
		margin: auto;
	}

	.btn {
		height: 100%;
	}
}
