<nb-card class="setup-merchant-delivery-takeaway">
	<nb-card-header
		><span *ngIf="currentView == componentViews.main"
			>Delivery & Takeaway Settings</span
		>
		<span *ngIf="currentView == componentViews.carriersTable"
			>Select from shared carriers</span
		>
		<span *ngIf="currentView == componentViews.addNewCarrier"
			>Add your carrier</span
		>
	</nb-card-header>
	<nb-card-body>
		<div *ngIf="currentView === componentViews.main" class="main-content">
			<div class="row">
				<div class="form-group offset-md-2 col-md-4">
					<nb-checkbox [(ngModel)]="isCarrierRequired">
						Carrier required
					</nb-checkbox>
				</div>
			</div>
			<div class="row">
				<div class="form-group offset-md-2 col-md-4">
					<nb-checkbox
						(change)="productsDeliveryChange()"
						[(ngModel)]="productsDelivery"
					>
						Products Delivery (by default)
					</nb-checkbox>
				</div>
				<div class="form-group  col-md-4">
					<nb-checkbox [(ngModel)]="productsTakeaway">
						Products Takeaway (by default)
					</nb-checkbox>
				</div>
			</div>
			<div [hidden]="!productsDelivery" class="row actions">
				<div class="form-group offset-md-2 col-md-4">
					<button
						nbButton
						outline
						status="success"
						(click)="currentView = componentViews.carriersTable"
					>
						Use selected shared carriers
					</button>
				</div>

				<div class="form-group  col-md-4">
					<button
						nbButton
						outline
						status="success"
						(click)="currentView = componentViews.addNewCarrier"
					>
						Add your carriers
					</button>
				</div>

				<div
					*ngIf="
						restrictedCarriers && restrictedCarriers.length !== 0
					"
				>
					<ea-carriers-smart-table
						[perPage]="carriersPerPage"
						[selectMode]="null"
						[redirectPage]="''"
						[actions]="'show'"
						[loadWholeData]="restrictedCarriers"
						(deleteRow)="removeCarrier($event)"
						#carriersTable
					></ea-carriers-smart-table>
				</div>
			</div>
		</div>

		<div class="row">
			<ea-merchants-setup-shared-carriers
				#sharedCarriers
				[existedCarriersIds]="restrictedCarriersIds"
				*ngIf="currentView == componentViews.carriersTable"
			></ea-merchants-setup-shared-carriers>
		</div>

		<div class="row">
			<ea-merchants-setup-add-new-carrier
				#newCarrier
				*ngIf="currentView == componentViews.addNewCarrier"
			></ea-merchants-setup-add-new-carrier>
		</div>
	</nb-card-body>
</nb-card>
