@import '../../../@theme/styles/themes';
@import '../../../@shared/styles/control-icon.shared';

@include nb-install-component() {

	@include control-icon;

	.btn-color {
		background: #4CAF50;
		cursor: pointer;
	}
	.btn-color:hover {
		background: #4CAF50;
		cursor: pointer;
	}

	.btn-color.btn-outline-success {
		background: #4CAF50;
		cursor: pointer;
	}
	.btn-color.btn-outline-success:hover {
		background: #4CAF50;
		cursor: pointer;
	}

}
