.confirm-delete-wrapper {
	display: flex !important;
	.modal-wrapper {
		border-radius: 5px;
		width: 300px;
		height: 300px;
		left: calc(50% - (300px / 2));
		top: calc(50% - (300px / 2));
		.ion-page {
			border-radius: 5px;
			.confirm-delete {
				border: 1px solid rgba(0, 0, 0, 0.125);
				background: white;
				width: 100%;
				height: 100%;
				border-radius: 5px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				h4 {
					width: 90%;
					text-align: center;
				}
				.control {
					display: flex;
					justify-content: space-between;
					width: 90%;
				}
				.details {
					display: flex;
					align-items: center;
					width: 90%;
					border: 1px solid rgba(0, 0, 0, 0.125);
					border-radius: 4px;
					img {
						width: 128px;
						height: 128px;
					}
					.good {
						color: green;
					}
					.bad {
						color: crimson;
					}
					.text {
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 100%;
					}
				}
			}

			ion-button {
				border: none;
			}
		}
	}
}
