<nb-card>
	<toaster-container></toaster-container>

	<nb-card-header>
		<button
			nbButton
			status="success"
			class="mr-2 d-inline-block"
			(click)="openWizardNewCarrier()"
		>
			<i class="ion-md-add button-icon mr-1"></i>
			{{ 'CARRIERS_VIEW.CREATE_BUTTON' | translate }}
		</button>
		<button
			nbButton
			status="danger"
			class="mr-2 d-inline-block"
			[disabled]="!carriersTable.hasSelectedCarriers"
			(click)="deleteSelectedCarriers()"
		>
			<i class="ion-md-trash button-icon mr-1"></i>
			{{ 'CARRIERS_VIEW.DELETE' | translate }}
		</button>
		<button
			nbButton
			status="primary"
			class="mr-2 d-inline-block"
			routerLink="track"
		>
			<i class="ion-md-map button-icon mr-1"></i>
			{{ 'CARRIERS_VIEW.TRACK' | translate }}
		</button>
	</nb-card-header>
	<nb-card-body [nbSpinner]="loading">
		<ea-carriers-smart-table
			[perPage]="perPage"
			#carriersTable
		></ea-carriers-smart-table>
	</nb-card-body>
</nb-card>
