<nb-card [nbSpinner]="loading">
	<toaster-container></toaster-container>

	<nb-card-header>
		<button
			nbButton
			status="success"
			class="mr-2 d-inline-block"
			(click)="createWarehouseModel()"
		>
			<i class="ion-md-add button-icon mr-1"></i>
			<small _ngcontent-c55="">{{
				'WAREHOUSES_VIEW.CREATE' | translate
			}}</small>
		</button>
		<button
			nbButton
			status="danger"
			class="mr-2 d-inline-block"
			[disabled]="!hasSelectedWarehouses"
			(click)="deleteSelectedRows()"
		>
			<i class="ion-md-trash button-icon mr-1"></i>
			<small _ngcontent-c55="">{{
				'WAREHOUSES_VIEW.DELETE' | translate
			}}</small>
		</button>
		<button
			nbButton
			status="warning"
			class="mr-2 d-inline-block"
			routerLink="track"
		>
			<i class="ion-md-map button-icon mr-1"></i>
			<small _ngcontent-c55="">{{
				'WAREHOUSES_VIEW.SHOW_ON_MAP' | translate
			}}</small>
		</button>
	</nb-card-header>

	<nb-card-body>
		<ng2-smart-table
			[settings]="settingsSmartTable"
			[source]="sourceSmartTable"
			(userRowSelect)="selectWarehouseTmp($event)"
		>
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
