<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ever API</title>
	<style>

		body {
			font-family: Roboto,Arial,sans-serif;
			background-color: #1f212a;
			color: #6a6a6a;
			font-size: 16px;
			line-height: 1.625em;
			font-weight: 300;
		}

		.title {
			color: white;
		}

		.footer-text {
			line-height: 1.5em;
			padding: 20px 0 30px;
			border-top: 1px solid #1a1a1a;
		}

	</style>
</head>
<body>
{{{body}}}
</body>
</html>
