.setup-merchant-products {
	nb-card-body {
		text-align: left;
	}

	.actions {
		button {
			width: 100%;
			margin: 0;
		}
	}

	ea-merchants-setup-add-products {
		width: 100%;
	}

	.btn {
		height: 100%;
	}
}
