<nb-card>
	<nb-card-header>
		<h5>
			{{
				'FAKE_DATA.SETUP_MERCHANTS.HOW_TO_SET_UP.HOW_TO_SET_UP'
					| translate
			}}
			{{ stepper.selected.label }}?
		</h5>
	</nb-card-header>
	<nb-card-body>
		<div *ngIf="stepper.index === 0">
			TODO add instructions for Account
		</div>
		<div *ngIf="stepper.index === 1">
			TODO add instructions for Basic info
		</div>
		<div *ngIf="stepper.index === 2">
			TODO add instructions for Contact info
		</div>
		<div *ngIf="stepper.index === 3">
			TODO add instructions for Location
		</div>
		<div *ngIf="stepper.index === 4">
			TODO add instructions for Payments
		</div>
		<div *ngIf="stepper.index === 5">
			TODO add instructions for Manufacturing
		</div>
		<div *ngIf="stepper.index === 6">
			TODO add instructions for Delivery & Takeaway Settings
		</div>
		<div *ngIf="stepper.index === 7">
			TODO add instructions for Orders Settings
		</div>
		<div *ngIf="stepper.index === 8">
			TODO add instructions for Product categories
		</div>
		<div *ngIf="stepper.index === 9">
			TODO add instructions for Products
		</div>
	</nb-card-body>
</nb-card>
