<nb-card>
	<nb-card-header>
		<h5>How to setup {{ stepper.selected.label }}?</h5>
	</nb-card-header>
	<nb-card-body>
		<div *ngIf="stepper.index === 0">
			TODO add instructions for Account
		</div>
		<div *ngIf="stepper.index === 1">
			TODO add instructions for Basic info
		</div>
		<div *ngIf="stepper.index === 2">
			TODO add instructions for Contact info
		</div>
		<div *ngIf="stepper.index === 3">
			TODO add instructions for Location
		</div>
		<div *ngIf="stepper.index === 4">
			TODO add instructions for Payments
		</div>
		<div *ngIf="stepper.index === 5">
			TODO add instructions for Manufacturing
		</div>
	</nb-card-body>
</nb-card>
