<style>
	.products-placeholder {

		color: #fff;
		height: 100%;
		top: 45%;
		width: 100%;
		position: absolute;
		text-align: center;
		font-size: 20px;
		line-height: 30px;

	}
</style>

<div class="products-placeholder">
	{{no_products_text}}
</div>