.info-content {
	overflow: hidden;
	h6 {
		span {
			color: #009100;
			cursor: pointer;
			transition: opacity 0.1s ease-in;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.json-viewer {
		button {
			margin-bottom: 15px;
		}
	}
}
