<nb-card>
	<toaster-container></toaster-container>

	<nb-card-header>
		<button
			nbButton
			status="success"
			class="mr-2 d-inline-block"
			(click)="showCreateUserModal()"
		>
			<i class="ion-md-add button-icon mr-1"></i>

			<small _ngcontent-c55="">{{
				'CUSTOMERS_VIEW.CREATE' | translate
			}}</small>
		</button>

		<button
			nbButton
			status="danger"
			class="mr-2 d-inline-block"
			[disabled]="!hasSelectedCustomers"
			(click)="deleteSelectedRows()"
		>
			<i class="ion-md-trash button-icon mr-1"></i>

			<small _ngcontent-c55="">{{
				'CUSTOMERS_VIEW.DELETE' | translate
			}}</small>
		</button>

		<button
			nbButton
			status="info"
			class="mr-2 d-inline-block"
			[routerLink]="['/devices']"
		>
			<i class="ion-md-phone-portrait"></i>&nbsp;&nbsp;
			{{ 'CUSTOMERS_VIEW.CUSTOMERS_DEVICES' | translate }}
		</button>

		<button
			nbButton
			status="danger"
			class="mr-2 d-inline-block"
			[disabled]="!isOnlyOneCustomerSelected || showBanLoading"
			[nbSpinner]="showBanLoading"
			(click)="banSelectedRows()"
		>
			<i class="ion-md-close-circle button-icon mr-1"></i>

			<small _ngcontent-c55="" *ngIf="isUserBanned">{{
				'CUSTOMERS_VIEW.UNBAN' | translate
			}}</small>

			<small _ngcontent-c55="" *ngIf="!isUserBanned">{{
				'CUSTOMERS_VIEW.BAN' | translate
			}}</small>
		</button>
		<input
			type="checkbox"
			name="bannedOnly"
			id="showBannedOnly"
			[(ngModel)]="showOnlyBanned"
			[ngModelOptions]="{ standalone: true }"
		/>
		<label for="bannedOnly">Show Banned Only</label>
	</nb-card-header>

	<nb-card-body [nbSpinner]="loading">
		<ng2-smart-table
			[settings]="settingsSmartTable"
			[source]="sourceSmartTable"
			(userRowSelect)="selectCustomerTmp($event)"
		>
		</ng2-smart-table>
	</nb-card-body>
</nb-card>
