$gray: #888;
$danger: #ce4843;
$success: #47d26f;
$dark: hsl(234, 26, 25);
$nb-themes: nb-register-theme(
	(
		// backgrounds
			header-bg: #1f212a,
		layout-bg: #2a2c39,
		layout-window-mode-bg: #2a2c39,
		footer-bg: #1f212a,
		form-control-bg: #1f212a,
		modal-bg: #1f212a,
		chat-bg: #1f212a,
		actions-bg: #1f212a,
		search-bg: #1f212a,
		alert-bg: #1f212a,
		select-bg: #1f212a,
		color-bg: #1f212a,
		drops-icon-line-gadient: -webkit-linear-gradient(gray, black),
		// cards
			card-border-color: rgba(0, 0, 0, 0.125),
		card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		card-bg: #1f212a !important,
		card-header-primary-bg: $gray,
		card-fg-text: #888,
		// buttons
			btn-secondary-border: $gray,
		btn-primary-bg: $gray,
		btn-success-bg: $success,
		btn-warning-bg: #fee140,
		btn-danger-bg: $danger,
		linear-gradient: linear-gradient(to right, red, green),
		// menu
			sidebar-bg: #1f212a,
		menu-bg: transparent,
		menu-item-separator: transparent,
		menu-fg: #8b8b8b,
		menu-submenu-bg: #2a2c39,
		menu-submenu-fg: white,
		menu-active-fg: white,
		menu-active-bg: #2a2c39,
		menu-icon-active-color: white,
		menu-icon-color: #8b8b8b,
		// table
			smart-table-bg-even: transparent,
		smart-table-bg-active: rgba(0, 0, 0, 0.1),
		smart-table-separator: #333,
		smart-table-paging-bg-active: rgba(100, 100, 100, 1),
		smart-table-header-bg: #1f212a,
		smart-table-paging-border-color: #8b8b8b,
		// progress bar
			progress-bar-default-bg: red,
		progress-bar-info-bg: red,
		progress-bar-primary-bg: linear-gradient(45deg, red 0%, crimson 100%),
		progress-bar-bg: red,
		progress-bar-background: red,
		progress-bar-bg-color: red,
		// text
			color-fg-text: #8b8b8b,
		color-fg: #8b8b8b,
		color-fg-highlight: white,
		card-header-fg: #8b8b8b,
		footer-fg: #8b8b8b,
		link-color: white !important,
		// separator
			separator: $gray,
		card-separator: transparent,
		footer-separator: transparent,
		actions-separator: $gray,
		btn-group-separator: $gray,
		// form
			form-control-selected-border-color: #fff,
		// chart
			chart-panel-summary-border-color: $gray,
		// misc
			switcher-background: rgba(255, 255, 255, 0.2),
		scrollbar-fg: #fff,
		scrollbar-bg: #1f212a,
		spinner-bg: transparent,
		spinner-circle-bg: $danger,
		tabs-selected: $gray,
		tabs-selected-second-color: $gray,
		popover-bg: #1f212a !important,
		popover-border: white,
		user-fg-highlight: $gray,
		badge-success-bg-color: $gray,
		tooltip-success-bg: $gray,
		shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
	),
	everdark,
	cosmic
);
