html {
	font-size: 14px;
}

span.space {
	margin-right: 5px;
}

div.redirectBtn {
	border: 2px solid #dadfe6;
	color: #2a2a2a;
	background-color: transparent;
	padding: 0.525rem 0.6rem 0.525rem 0.6rem;
	border-radius: 0.375rem;
	position: relative;
	cursor: pointer;
}

div.redirectBtn:hover {
	background: #dadfe6;
}
