.product-basic-info {
	::ng-deep .categoryOptions-dropdown {
		.ng-star-inserted {
			margin-top: 0 !important;
		}

		.dropdown,
		.dropdown-menu {
			border: 2px solid #dadfe6;
			border-radius: 0.375rem;
			background-color: white !important;
			width: 100%;
			color: #111111 !important;
		}

		.dropdown-menu.ng-star-inserted {
			border: 2px solid #dadfe6 !important;
		}

		button {
			color: #111111 !important;
			margin: 0 !important;
			// background-color: white !important;
		}
		div {
			a {
				&:hover {
					background-color: #f0f0f0 !important;
					color: #111111 !important;
					font-weight: bold;
					font-size: 1.05em !important;
				}
			}
		}
	}

	.preview-img {
		padding-left: 14px;
		padding-right: 16px;
	}

	.ion-md-remove-circle {
		font-size: 1rem;
	}

	.img-rounded {
		max-height: 70px;
	}

	.removeIcon div {
		cursor: pointer;
	}

	.images-content {
		margin-left: 16px !important;
	}
	label.control-label {
		font-size: 1rem;
	}

	span {
		font-size: 1rem;
		display: block;
		margin: 0;
	}
}
