<nb-card>
	<!-- <nb-card-header class="header-color">
		<div class="pull-left title">Nearby Stores</div>

		<div class="btn-group btn-divided-group pull-right">
			<button class="btn btn-icon btn-success active" (click)="createWarehouseModel()">
				<i class="ion-md-add"></i>
			</button>
			<button class="btn btn-icon btn-danger active" [disabled]="!hasSelectedWarehouses" (click)="deleteSelectedRows()">
				<i class="ion-md-trash"></i>
			</button>
		</div>
	</nb-card-header> -->

	<nb-card-body>
		<ea-customer-warehouses-table
			[sourceEvent]="sourceEventEmitter"
			[selectWarehouseTmp]="selectWarehouseTmp.bind(this)"
		></ea-customer-warehouses-table>
	</nb-card-body>
</nb-card>
