.setup-merchant-basic-info {
	nb-card-body {
		text-align: left;
	}

	.preview-img {
		padding-right: 16px;
	}

	.preview-barcode {
		padding: 8px;
		background: #dedede;
		display: inline-block;
		margin-top: 3px;
		img {
			margin: 0;
		}
	}

	.img-rounded {
		margin-top: 3px;
		max-height: 70px;
	}

	.remove-icon {
		cursor: pointer;

		span {
			padding-right: 7px;
			position: absolute;
			font-size: 1.1em;
		}
	}
}
