@import '../../../../@theme/styles/themes';

@include nb-install-component() {
	.padding {
		padding: 2%;
	}

	.padding-bottom {
		padding-bottom: 2%;
	}
	.margin {
		margin: 1%;
	}

	nb-card-footer {
		padding: 0;
	}

	::ng-deep ng2-smart-table {
		.redirectBtn {
			font-size: 0.9em !important;
			text-align: left !important;
			width: 100% !important;
			cursor: pointer;
		}
		.iconBtns {
			display: inline-block !important;
			margin-right: 5px;
		}
		.iconsCont {
			width: 80%;
			margin: 0 auto;
			text-align: center;
		}
		.warhouseBtn {
			img {
				display: inline-block;
				margin: 5 auto;
			}
		}
		.warnCancelled {
			border: none;
			color: #ff6780;
			text-align: center;
			display: inline-block;
			width: 100%;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 0.9em;
		}
	}

	nb-card-body {
		padding: 0;
	}

	nb-card {
		margin: 0;
	}
}
