<mat-card class="product-card pt-0" [ngClass]="{ 'grid-view': isGridView }">
	<div
		[ngClass]="{ 'full-height': productImage?.orientation === 1 }"
		class="image-container"
	>
		<product-discount [currentProduct]="info.warehouseProduct" #discount>
		</product-discount>

		<product-delivery-info
			[currentProduct]="info.warehouseProduct"
			[overImage]="true"
			[hasDiscount]="discount?.getDiscount()"
		></product-delivery-info>

		<img
			mat-card-image
			class="image"
			[ngClass]="{
				'border-bottom-radius': productImage?.orientation === 1
			}"
			[src]="productImage?.url"
			(load)="onImageLoad()"
		/>
	</div>

	<div
		class="w-100"
		[ngClass]="productImage?.orientation === 1 ? 'bottom' : 'below'"
	>
		<warehouse-logo
			[logo]="info.warehouseLogo"
			[light]="true"
		></warehouse-logo>

		<h1 class="title">
			{{ localeTranslate(info.warehouseProduct.product.title) }}
		</h1>

		<h2 class="description">
			{{ localeTranslate(info.warehouseProduct.product.description) }}
		</h2>

		<button
			mat-raised-button
			(click)="createOrder()"
			color="accent"
			class="purchase-button mr-2 d-inline mb-2"
		>
			{{ 'PRODUCTS_VIEW.BUY_FOR' | translate }} ${{
				info.warehouseProduct.price
			}}
		</button>

		<button
			mat-button
			[routerLink]="
				'details/' +
				info.warehouseId +
				'/' +
				info?.warehouseProduct?.product?.id
			"
			class="details-button d-inline mb-2"
		>
			{{ 'PRODUCTS_VIEW.DETAILS' | translate }}
		</button>
	</div>
</mat-card>
