<nb-card-body>
	<div style="display:flex;">
		<ng-select
			(change)="selectNewStore($event)"
			[items]="stores"
			placeholder="{{
				'DASHBOARD_VIEW.SELECT_COMPONENT.SELECT_STORE' | translate
			}}"
			[clearable]="false"
			bindLabel="id"
			bindValue="id"
			style="width:30%;"
			(change)="urlChanger($event)"
			[(ngModel)]="selectedStoreId"
		>
			<ng-template ng-label-tmp let-item="item">
				<img
					*ngIf="item.logo"
					height="15"
					width="15"
					class="mr-2"
					[src]="item.logo"
				/>
				<b>{{ item.name }}</b>
			</ng-template>
			<ng-template ng-option-tmp let-item="item" let-index="index">
				<h6 class="card-title">
					<img
						*ngIf="item.logo"
						height="40"
						width="40"
						class="mr-1"
						[src]="item.logo"
					/>
					{{ item.name }}
				</h6>
			</ng-template>
		</ng-select>
		<ng-select
			*ngIf="hasFilteredByMerchant"
			(change)="filterByCarrierId()"
			[items]="filteredCarriersList"
			[(ngModel)]="selectedCarrier"
			[clearable]="false"
			placeholder="{{
				'CARRIERS_VIEW.CARRIER_PAGE.SELECT_CARRIER' | translate
			}}"
			bindLabel="fullName"
			bindValue="fullName"
			style="width:30%;"
		>
			<ng-template ng-label-tmp let-item="item">
				<img
					*ngIf="item.logo"
					height="15"
					width="15"
					class="mr-2"
					[src]="item.logo"
				/>
				{{ item.fullName }}
			</ng-template>
			<ng-template ng-option-tmp let-item="item" let-index="index">
				<h6 class="card-title">
					<img
						*ngIf="item.logo"
						height="40"
						width="40"
						class="mr-1"
						[src]="item.logo"
					/>
					{{ item.fullName }}
				</h6>
			</ng-template>
		</ng-select>
	</div>
	<div #gmap class="googleMap"></div>
</nb-card-body>
