.ng-valid[required],
.ng-valid.required {
	border-left: 5px solid #42a948; /* green */
}

:host ::ng-deep .card-footer button {
	background-color: #111111 !important;
	border: none !important;
	color: white !important;
	cursor: pointer !important;
}
:host ::ng-deep .card-footer button:hover {
	background-color: #bebebe !important;
	color: #111111 !important;
}

nb-card {
	margin: 0px;
}
