.row.upload-img {
	padding-left: 14px;
	padding-right: 16px;

	button {
		padding: 0 !important;
		border-radius: 0px;
		border-top-right-radius: 0.375rem;
		border-bottom-right-radius: 0.375rem;
	}

	input {
		border-radius: 0px !important;
		border-top-left-radius: 0.375rem !important;
		border-bottom-left-radius: 0.375rem !important;
	}
}

.preview-img {
	padding-left: 14px;
	padding-right: 16px;
}

.img-rounded {
	max-height: 70px;
}

.remove-icon {
	cursor: pointer;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
}

div.modal-footer {
	padding-top: 7px;
	margin-right: 67px;
	border: none;
}

label {
	margin: auto 0;
}
