<nb-card class="setup-merchant-product-categories">
	<nb-card-header>
		{{
			'FAKE_DATA.SETUP_MERCHANTS.PRODUCT_CATEGORIES.PRODUCT_CATEGORIES'
				| translate
		}}
	</nb-card-header>
	<nb-card-body>
		<div class="row actions">
			<div
				*ngIf="!showMutationForm"
				class="form-group offset-md-4 col-md-4 text-center"
			>
				<button
					type="button"
					class="btn btn-outline-success"
					(click)="showMutationForm = true"
				>
					{{
						'FAKE_DATA.SETUP_MERCHANTS.PRODUCT_CATEGORIES.ADD_OWN_PRODUCT_CATEGORY'
							| translate
					}}
				</button>
			</div>

			<div class="offset-md-1 col-md-11" *ngIf="showMutationForm">
				<ea-product-category-basic-info-form
					[category]="currentCategory"
					#basicInfo
				></ea-product-category-basic-info-form>
			</div>

			<div
				[hidden]="showMutationForm || productCategories.length == 0"
				class="col-md-12 p-0"
			>
				<ea-categories-table
					[selectMode]="null"
					[showPerPage]="showPerPage"
					[editWithModal]="false"
					(deleteRow)="removeCategory($event)"
					(editRow)="editCategory($event)"
					#categoriesTable
				></ea-categories-table>
			</div>
		</div>
	</nb-card-body>
</nb-card>

<div *ngIf="!showMutationForm">
	<button nbButton (click)="previousStep.emit()">
		{{ 'FAKE_DATA.SETUP_MERCHANTS.PREV' | translate }}
	</button>

	<button nbButton (click)="nextStep.emit()">
		{{ 'FAKE_DATA.SETUP_MERCHANTS.NEXT' | translate }}
	</button>
</div>

<div *ngIf="showMutationForm">
	<button nbButton (click)="showMutationForm = false">
		{{ 'FAKE_DATA.SETUP_MERCHANTS.BACK' | translate }}
	</button>

	<button
		*ngIf="mutationType === 'add'"
		nbButton
		[disabled]="showMutationForm ? !isValidForm : false"
		(click)="add()"
	>
		{{ 'FAKE_DATA.SETUP_MERCHANTS.ADD' | translate }}
	</button>

	<button
		*ngIf="mutationType === 'edit'"
		nbButton
		[disabled]="showMutationForm ? isInvalidValidForm : false"
		(click)="edit()"
	>
		{{ 'FAKE_DATA.SETUP_MERCHANTS.SAVE' | translate }}
	</button>
</div>
