nb-card-header {
	border-bottom: 0;
}

nb-card-body {
	padding: 0;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

:host ::ng-deep ng2-smart-table {
	tr {
		td:nth-child(1),
		th:nth-child(1) {
			width: 30px;
		}
		td:nth-child(2),
		th:nth-child(2) {
			width: 30px;
		}
		th {
			padding: 18px !important;
		}
		td {
			padding: 17px !important;
		}
	}

	tr.ng2-smart-titles > th:nth-child(1) {
		text-align: center;
		cursor: pointer;

		input {
			margin-left: 1px !important;
			cursor: pointer;
		}
	}

	td.ng2-smart-actions.ng2-smart-action-multiple-select {
		text-align: center;
		cursor: pointer;
	}

	tr.ng2-smart-filters th {
		text-align: center;
	}

	tr td,
	th {
		&:first-of-type {
			border-left: none;
		}
		&:last-of-type {
			border-right: none;
		}
	}

	input[type='checkbox'] {
		cursor: pointer;
	}
}
