nb-card-footer {
	padding: 0;
}

.carrierStatus {
	margin-top: 10px;
	width: 100% !important;
}

.isActive {
	display: inline-block;
	border-radius: 5px;

	.label-is-active {
		font-size: 75%;
		font-weight: bold;
		line-height: 1;
		color: rgb(255, 255, 255);
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		padding: 0.2em 0.6em 0.3em;
		border-radius: 0.25em;
		border-right: 5px;
	}

	.label-warning {
		background: #ffa100;
	}

	.label-success {
		background: #40dc7e;
	}
}
