<div class="modal-header">
	<h4 class="modal-title" id="modal-title">Profile Ban</h4>
	<button
		type="button"
		class="close"
		aria-label="Close button"
		aria-describedby="modal-title"
		(click)="modal.dismiss()"
	>
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p>
		<strong
			>Are you sure you want to {{ user.isBanned ? 'unban' : 'ban' }}
			<span class="text-primary">"{{ user.name }}"</span>?</strong
		>
	</p>
</div>
<div class="modal-footer">
	<button
		type="button"
		class="btn btn-outline-secondary"
		(click)="modal.dismiss()"
	>
		Cancel
	</button>
	<button
		type="button"
		ngbAutofocus
		class="btn btn-danger"
		(click)="modal.close(user)"
	>
		Ok
	</button>
</div>
