.invite-code-input {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 20px;
	width: 100%;
}

.location-form {
	width: 100% !important;
	min-width: 300px !important;
	max-height: 100%;
}

.search-addon-wrapper {
	position: relative;
	width: 46px;

	i {
		font-size: 0.8em;
		color: black;
		opacity: 0.6;
		width: 46px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

.search-input {
	width: 100%;
	.search-icon {
		width: 20px;
	}
	input {
		padding-right: 10px;
		padding-bottom: 5px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
			'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	}
	.material-icons {
		margin-right: 3px;
	}
	color: white !important;
}

.location-form {
	mat-select {
		background: #f1f1f1;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 20px;
		padding-right: 10px;

		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
			'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		text-align: left;
	}
}

:host /deep/ .location-form .mat-checkbox-layout {
	color: white;
	.label {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
			'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		text-align: left;
	}

	.mat-checkbox-frame {
		border-color: white;
	}
}
