<div class="map-container">
	<div #gmap class="g-map"></div>
	<div class="zones">
		<div class="zones-form">
			<div class="col-sm-12" [formGroup]="form" *ngIf="form">
				<fieldset>
					<div *ngIf="!selectedShape" class="form-group row mb-4">
						<div class="col-sm-12 btn-container">
							<button
								(click)="
									selectedShape = 'circle'; startDrawing()
								"
								nbButton
							>
								Circle
							</button>
							<button
								(click)="
									selectedShape = 'shape'; startDrawing()
								"
								nbButton
							>
								Shape
							</button>
						</div>
					</div>

					<div class="form-group row">
						<label
							class="col-sm-4 d-flex align-items-center control-label"
							>Name</label
						>

						<div class="col-sm-8">
							<input
								type="text"
								class="form-control"
								placeholder="Zone name"
								formControlName="name"
							/>
						</div>
					</div>

					<div class="form-group row">
						<label
							class="col-sm-4 d-flex align-items-center control-label"
							>*Minimum amount</label
						>

						<div class="col-sm-8">
							<input
								type="number"
								class="form-control"
								placeholder="Minimum amount"
								formControlName="amount"
							/>
						</div>
					</div>

					<div class="form-group row">
						<label
							class="col-sm-4 d-flex align-items-center control-label"
							>*Delivery fee</label
						>

						<div class="col-sm-8">
							<input
								type="number"
								class="form-control"
								placeholder="Delvery fee"
								formControlName="fee"
							/>

							<!-- <div *ngIf="passwordConfirm.errors && (passwordConfirm.dirty || passwordConfirm.touched)" class="alert alert-danger"> -->
							<!-- <div [hidden]="!passwordConfirm.hasError('notMatch')"> -->
							<!-- {{ "WAREHOUSE_VIEW.MUTATION.PASSWORDS_DO_NOT_MATCH" | translate }}! -->
							<!-- </div> -->
							<!-- </div> -->
						</div>
					</div>

					<div *ngIf="selectedShape" class="form-group row">
						<div class="col-sm-12 btn-container">
							<button
								(click)="cancel()"
								nbButton
								class="btn btn-warning"
							>
								Cancel
							</button>
							<button
								[disabled]="
									!shapeReady || form.status === 'INVALID'
								"
								nbButton
								class="btn btn-primary"
							>
								Add
							</button>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="zones-list">
			<ul>
				<li>
					<span>
						Zone 1
					</span>
					<div class="btn-container">
						<i class="far fa-trash-alt"></i>
						<i class="far fa-edit"></i>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
