<style>
	.privacy-content {
		padding: 10px;
		background-color: #1f212a;
		color: #6a6a6a;
		font-size: 16px;
		line-height: 1.625em;
		font-weight: 300;
	}

	.privacy-content a {
		color: #ddd;
	}
</style>

<div class="privacy-content">
	<p>מדיניות פרטיות מלאה של פעם זמין
		<a href="https://www.iubenda.com/privacy-policy/7927887">here</a>.</p>
	<p>
		<strong>בקר נתונים ובעלים</strong>
		<br/> אי פעם ושות 'בע"מ,
		<br/> העצמאות 38/3, אשדוד 77452, ישראל,
		<br/> אי פעם
	</p>
</div>