<style>
	.privacy-content {
		padding: 10px;
		background-color: #1f212a;
		color: #6a6a6a;
		font-size: 16px;
		line-height: 1.625em;
		font-weight: 300;
	}

	.privacy-content a {
		color: #ddd;
	}
</style>

<div class="privacy-content">
	<p>Полные правила обеспечения конфиденциальности персональных данных для Ever® доступны <a href="https://www.iubenda.com/privacy-policy/7927914">здесь</a>.</p>
	<p>
		<strong>Контролер и Владелец данных</strong><br />
		Ever Co. LTD, <br />
		HaAtsmaut 38/3, Ashdod 77452, Israel,<br />
		ever@ever.co
	</p>
</div>