<span class="created-by"
	>{{ 'FOOTER_VIEW.COPY_RIGHT' | translate }},
	<b
		><a href="{{ companySiteLink }}" target="_blank">{{
			companyName
		}}</a></b
	>. {{ 'FOOTER_VIEW.ALL_RIGHTS_RESERVED' | translate }}.</span
>
<div class="socials">
	<a
		href="{{ companyGithubLink }}"
		target="_blank"
		class="ion ion-logo-github"
	></a>
	<a
		href="{{ companyFacebookLink }}"
		target="_blank"
		class="ion ion-logo-facebook"
	></a>
	<a
		href="{{ companyTwitterLink }}"
		target="_blank"
		class="ion ion-logo-twitter"
	></a>
	<a
		href="{{ companyLinkedinLink }}"
		target="_blank"
		class="ion ion-logo-linkedin"
	></a>
</div>
