:host ::ng-deep .card-footer button {
	background-color: #111111 !important;
	border: none !important;
	color: white !important;
	cursor: pointer !important;
}

:host ::ng-deep .card-footer button:hover {
	background-color: #bebebe !important;
	color: #111111 !important;
}

nb-card-header ul {
	padding-left: 0;
}

google-map {
	margin-top: 25px;
}

.user-modal {
	margin: 0px;
}
