<nb-card class="basic-info {{ boxShadow === 'none' ? 'no-box-shadow' : '' }}">
	<div class="col-sm-12" [formGroup]="form" *ngIf="form">
		<br />

		<fieldset>
			<div class="form-group row">
				<label class="col-sm-2 control-label">{{
					'Name' | translate
				}}</label>

				<div class="col-sm-5">
					<input
						type="text"
						class="form-control"
						placeholder="{{
							'CARRIERS_VIEW.EDIT.FIRST_NAME' | translate
						}}"
						formControlName="firstName"
					/>
					<span
						*ngIf="
							firstName.invalid &&
							(firstName.dirty || firstName.touched)
						"
					>
						<div
							*ngIf="firstName.errors.required"
							class="alert alert-danger"
						>
							{{
								'SHARED.FORMS.ERRORS.FIRST_NAME_REQUIRED'
									| translate
							}}!
						</div>
						<div
							*ngIf="firstName.errors.pattern"
							class="alert alert-danger"
						>
							{{
								'SHARED.FORMS.ERRORS.MUST_CONTAIN_ONLY_LETTERS'
									| translate
							}}!
						</div>
					</span>
				</div>

				<div class="col-sm-5">
					<input
						type="text"
						class="form-control"
						placeholder="{{
							'CARRIERS_VIEW.EDIT.LAST_NAME' | translate
						}}"
						formControlName="lastName"
					/>
					<span
						*ngIf="
							lastName.invalid &&
							(lastName.dirty || lastName.touched)
						"
					>
						<div
							*ngIf="lastName.errors.required"
							class="alert alert-danger"
						>
							{{
								'SHARED.FORMS.ERRORS.LAST_NAME_REQUIRED'
									| translate
							}}!
						</div>
						<div
							*ngIf="lastName.errors.pattern"
							class="alert alert-danger"
						>
							{{
								'SHARED.FORMS.ERRORS.MUST_CONTAIN_ONLY_LETTERS'
									| translate
							}}!
						</div>
					</span>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="form-group row">
				<label class="col-sm-2 control-label">{{
					'Username' | translate
				}}</label>
				<div class="col-sm-10">
					<input
						type="text"
						class="form-control"
						placeholder="{{ 'Username' | translate }}"
						formControlName="username"
					/>

					<div
						*ngIf="
							username.invalid &&
							(username.dirty || username.touched)
						"
						class="alert alert-danger"
					>
						{{
							'SHARED.FORMS.ERRORS.USERNAME_REQUIRED' | translate
						}}!
					</div>
				</div>
			</div>

			<div class="form-group row" *ngIf="password">
				<label class="col-sm-2 control-label">{{
					'Password' | translate
				}}</label>
				<div class="col-sm-10">
					<input
						type="password"
						class="form-control"
						placeholder="{{ 'Password' | translate }}"
						required
						[formControl]="password"
					/>

					<div
						*ngIf="
							password.invalid &&
							(password.dirty || password.touched)
						"
						class="alert alert-danger"
					>
						{{
							'SHARED.FORMS.ERRORS.PASSWORD_REQUIRED' | translate
						}}!
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<div class="form-group row">
				<label class="col-sm-2 control-label">{{
					'Phone' | translate
				}}</label>
				<div class="col-sm-10">
					<input
						type="text"
						class="form-control"
						placeholder="{{
							'CARRIERS_VIEW.EDIT.CONTACT_PHONE' | translate
						}}"
						formControlName="phone"
					/>

					<div
						*ngIf="phone.invalid && (phone.dirty || phone.touched)"
						class="alert alert-danger"
					>
						<div [hidden]="!phone.hasError('pattern')">
							{{
								'SHARED.FORMS.ERRORS.PHONE_MUST_CONTAINS_ONLY(specail_signs)AND_DIGIT_CHARACTER'
									| translate
							}}
						</div>
						<div [hidden]="!phone.hasError('required')">
							{{
								'SHARED.FORMS.ERRORS.PHONE_REQUIRED'
									| translate
							}}!
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 control-label">
					{{ 'CARRIERS_VIEW.EDIT.PHOTO_URL' | translate }}
				</label>

				<div class="col-sm-10">
					<e-cu-file-uploader
						[placeholder]="uploaderPlaceholder"
						[name]="username?.value"
						[fileUrl]="logo?.value"
						(uploadedImgUrl)="logo.setValue($event)"
					></e-cu-file-uploader>

					<div
						*ngIf="logo.invalid && (logo.dirty || logo.touched)"
						class="alert alert-danger"
					>
						{{
							'SHARED.FORMS.ERRORS.LOGO_URL_REQUIRED' | translate
						}}!
					</div>
				</div>
			</div>

			<div class="form-group row" [hidden]="logo.invalid">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
					<div class="row preview-img">
						<div
							[hidden]="!showLogoMeta"
							class="remove-icon"
							(click)="deleteImg()"
						>
							<img
								#logoImagePreview
								src="{{ logo.value }}"
								alt="Invalid image"
								class="img-rounded"
							/>

							<span
								class="ion-md-remove-circle text-danger pl-2"
								title="Remove"
							></span>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<!-- TODO add translate -->
				<nb-checkbox
					class="col-sm-12"
					formControlName="isSharedCarrier"
				>
					{{
						'CARRIERS_VIEW.CARRIER_PAGE.CARRIER_CAN_BE_SHARED'
							| translate
					}}
				</nb-checkbox>
				<nb-checkbox class="col-sm-12" formControlName="isActive">
					{{ 'CARRIERS_VIEW.CARRIER_PAGE.ACTIVE' | translate }}
				</nb-checkbox>
			</div>
		</fieldset>
	</div>
</nb-card>
