.btn-startProcessing {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn-startProcessing:hover {
	color: rgb(24, 22, 22);
	background-color: rgb(241, 239, 239);
	border-color: rgb(182, 176, 176);
	cursor: pointer;
}

.fakeData {
	padding: 10px;
}

input[type='checkbox'] {
	zoom: 1.3;
}

.btn {
	padding: 0.625rem 1.125rem !important;
}
